h1 {
  font-size: 30.4px;
  font-style: bold;
  font-variant: normal;
  font-weight: 900;
  line-height: 29.4px;
}

h2 {
  font-size: 26px;
  font-style: bold;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-size: 23px;
  font-style: bold;
  font-variant: normal;
  font-weight: 700;
  line-height: 25px;
}

h4 {
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23.2px;
}

h5 {
  font-size: 19px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 22px;
}

h6 {
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 21px;
}

p {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

html,
body {
  height: 100%;
  font-family: Ubuntu;
  min-height: 55rem;
  padding-top: 1.5rem;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
.form-signin ~ .checkbox {
  font-weight: 400;
}
.form-signin ~ .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin ~ .form-control:focus {
  z-index: 2;
}
.form-signin > input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin > input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.alert.alert-server {
  margin-bottom: 0;
  border-radius: 0;
}