<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../all-page/head %>
</head>

<body>
  <% include ../all-page/header %>
  <div class="container" style="margin-top: 60px">
    <!-- add button -->
    <a role="button" class="btn btn-primary my-1" href="/add">Add project</a>
  </div>
</body>

</html>