<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>
  <div class="card border-light mx-1">
    <h1 class="card-header bg-transparent">Add Project</h1>
    <div class="card-body">
      <% include ../partials/add-edit %>
    </div>
  </div>
  <% include ../partials/footer %>
</body>

</html>