<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../../partials/head %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.css">
</head>

<body>
  <% include ../../partials/sidebar %>
  <% include ../../partials/header %>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10">
    <div class="card border-light mx-1">
      <h1 class="card-header bg-transparent">Add Member to Project #<%=projectId%> (<%=projectName%>)</h1>
      <div class="card-body">
        <% include ../../partials/add-edit %>
      </div>
    </div>
  </main>
  <% include ../../partials/footer %>
</body>

</html>