<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../../partials/head %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.css">
</head>

<body>
  <% include ../../partials/sidebar %>
  <% include ../../partials/header %>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10">
    <div class="card border-light mx-1">
      <h1 class="card-header bg-transparent">Members of Project #<%=projectId%> (<%=projectName%>)</h1>
      <div class="card-body">
        <div class="card border-light">
          <div class="card-body">
            <!-- Filter -->
            <h2>Filter</h2>
            <div class="container">
              <% include ../../partials/form-filter %>
            </div>
          </div>
        </div>
        <div class="card border-light">
          <div class="card-body">
            <!-- Options -->
            <h2>Options</h2>
            <% include ../../partials/options %>
          </div>
        </div>
        <div class="card border-light">
          <div class="card-body">
            <!-- Table and Pagination -->
            <% include ../../partials/table %>
            <!-- add button -->
            <a role="button" class="btn btn-primary my-1" href="<%=url.slice(0,url.indexOf('?'))%>/add">
              <i class="fa fa-plus" aria-hidden="true"></i>Add member
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <% include ../../partials/footer %>
</body>

</html>